body{
    background-color: rgb(126, 186, 255);
    color: white;
}

.contenedor{
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(86, 86, 86);


}

.texto-color{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.fondo-solido{
    background-color: green;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.fondo-imagen{
    background-image: url('https://www.pngmart.com/files/7/Minecraft-PNG-Photos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 60, 255);
    font-size: 24px;
    font-weight: bold;

}




